.bg-CardHeader {
  background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(221,47,20,1) 0%, rgba(228,77,39,1) 6%, rgba(218,47,65,1) 20%, rgba(176,26,38,1) 55%, rgba(157,22,127,1) 100%, rgba(85,58,143,1) 100%, rgba(218,20,78,1) 100%, rgba(2,0,36,1) 100%);
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding:20px 20px 40px 20px;
  text-align: center;
  /* font-size: 18px; */
  background: #fff;
  display:none;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


